extends ./layout.jade
block content
    div(class="jumbotron text-center")
        div(class="container")
            if !user
                h1 Welcome!
                p Please visit 
                    a(href="https://github.com/manhtai/fcc") https://github.com/manhtai/fcc
                    |  for more information.
            else
                h1 Hello, 
                    b #{user.username}!
                p View your 
                    a(href="/account") account
                    | .
