extends ./layout.jade
block item
    div(class="jumbotron")
        div(class="container")
            h1 All polls
            p Here are all the polls we have, vote for them, or create more.

            div(class="list-group")
                each poll in polls
                    br
                    - var href= "/poll/" + poll.user + "/" + poll.id
                    a(class="list-group-item", href=href) #{poll.title}

            a(class="btn btn-primary", href="/poll/new") new poll
